name: Generate

on:
  pull_request:
    types:
      - labeled
      - edited

env:
  PACKAGE_NAME: freee/freee-accounting-sdk
  KEEP_CURRENT_HEADER_SELECTOR: true

jobs:
  generate:
    name: Generate code and push them
    if: ${{ contains(github.event.pull_request.labels.*.name, 'auto-generate') }}
    runs-on: ubuntu-latest

    steps:
      - name: Get original repo tag
        id: get_original_repo_tag
        run: |
          TAG=`echo $PULL_REQUEST_BODY | sed -E -n 's/(.*)tag:\s*(.+)\s*$/\2/p'`
          echo "::set-output name=tag::$TAG"
        env:
          PULL_REQUEST_BODY: ${{ github.event.pull_request.body }}

      - name: Install packages
        run: |
          sudo snap install yq

      - uses: actions/checkout@v2
        with:
          persist-credentials: false
          ref: ${{ github.head_ref }}

      - name: Remove old codes
        run: |
          rm -rf .openapi-generator/VERSION docs lib test .php_cs .travis.yml git_push.sh phpunit.xml.dist

      - name: Update lib version
        run: |
          yq eval -i  '.artifactVersion = "v${{ github.event.pull_request.title }}"' .openapi-generator/config.yml

      - name: Generate APIs
        env:
          SCHEMA_URL: https://raw.githubusercontent.com/freee/freee-api-schema/${{ steps.get_original_repo_tag.outputs.tag }}/_sdk_compatible/open-api-3/api-schema.yml
        run: |
          docker run --rm -u "$(id -u $USER):$(id -g $USER)" -v "${PWD}:/local" openapitools/openapi-generator-cli:latest-release generate \
            -i ${{ env.SCHEMA_URL }} \
            -c /local/.openapi-generator/config.yml \
            -g php \
            -o /local/
          rm -rf .travis.yml git_push.sh generate.log
          mv -f README.md README_auto-generated.md
          sed -i -e 's#"freee/freee-accounting-sdk-php"#"${{ env.PACKAGE_NAME }}"#g' README_auto-generated.md
          git checkout README.md

      - name: Maintain composer.json
        run: |
          cat composer.json | jq --indent 4 '. | .name = "${{ env.PACKAGE_NAME }}" | .type = "library" | .description = "Accounting freee PHP SDK" | .keywords += ["freee"] | .homepage = "https://developer.freee.co.jp/" | .license = "MIT" | .authors[0].name = "Freee" | .authors[0].homepage = "https://developer.freee.co.jp/"' > composer.json.tmp
          mv -f composer.json.tmp composer.json

      - name: Revert HeaderSelector
        if: ${{ env.KEEP_CURRENT_HEADER_SELECTOR }}
        run: |
          git checkout lib/HeaderSelector.php

      - name: Git
        run: |
          git config --local user.name "API Generator"
          git add .
          git commit -m "Generate SDK code for ${{ github.event.pull_request.title }}"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.head_ref }}
